body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#grid-container {
    display: grid;
    height: 600px;
    width: 600px;
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

p {
    text-align: center;
}

.gridSquare {
    border: 1px solid black;
}

h1 {
    text-align: center;
}